* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

.header {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    height: auto;
    width: 100%;
    margin-top: 0;
    position: relative;
    bottom: 30px;
}
.logo-img {
    vertical-align: middle;
}
.main-title {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    width: 50%;
    vertical-align: middle;
}

.main-title {
    width: 50%;
    text-align: right;
    text-transform: uppercase;
    padding-right: 30px;
    padding-bottom: 15px;
}
.hero-img {
    width: 100%;
    margin: 10px 0 30px 0;
    cursor: pointer;
}
hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
    margin-bottom: 15px;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
.project-img {
    cursor: pointer; 
}
.project-title {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.project {
    margin-bottom: 15px;
}
.project-img {
    max-width: 100%;
}
h3 {
    text-align: center;
}
.link {
    text-align: center;
}











